Imagine that you have a task to process a large CSV file (for ex.10 Gb).

Processing a file means that you need to filter it by some incoming criterias,
enrich it with some extra data from REST APIs
(it could be a few of them, received data could be doubled),
split it into a few parts, and store results. 

Please, briefly describe your solution (and/or possibly architecture, components, layers, etc).

Take into consideration that your app could communicate only through REST API inside a stateless
container with limited memory.